body {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 34px;
    background: url(../images/interlaced.png);
}
* {
    box-sizing: border-box;
}
.container {
    clear: both;
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
}

.container a {
    color: #777777;
    margin-left: 30x;
    padding-left: 30px;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    line-height: 18px;
    }
/* Style the top name banner */
#name {
    float: left;
    width: 220px;
    height: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    text-align: center;
    line-height: 80px;
    font-size: 23px;
    background: #4aaaa5;
}

/*Header position*/
#topNav {
    position: absolute;
    margin: 0 0 30px;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    max-width: 960px;
    z-index: 1;
}

/* Style the top nav links */
nav{
    float: right;
    margin-top: 32px;
}
 
/* Change the color of links on hover */
  .container a:hover {
    color: #4BAB76;
}

.middle h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-weight: 600; 
    padding-bottom: 15px;
    font-size: 23px;
    line-height: 49px;
    border-bottom: 3px solid #dddddd;
}

img {
    float:left;
    opacity: 0.9;
    margin: 10px;
    position: relative;
}

img:hover{
    opacity: 1;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

/*Main section*/
#container2{
    padding-top: 130px;
}
.middle{
    float: left;
    background: #ffffff;
    width: 70%;
    margin: 00 40px 0;
    padding: 30px;
    border: 1px solid #dddddd;
}
/* Footer positioning */
footer {
    position: relative;
    background-color: #666666;
    color: #fff;
    text-align: center;
    font-size: .9em;
    padding: 25px 0;  
    border-top: 8px solid #4aaaa5;
    clear: both;
}

